body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Add space between images */
    justify-content: center; /* Center the images */
}
.image-container {
    position: relative;
    width: 100px; /* Set the width for each image container */
    margin-bottom: 2px; /* Add margin at the bottom of each image container */
}
.image-container input[type="checkbox"] {
    display: none;
}
.image-container img {
    border: 2px solid transparent;
    cursor: pointer;
    width: 100%; /* Make the images fill the container */
    transition: border-color 0.3s; /* Add transition effect for border color */
        border-radius: 4px;
}
.image-container input[type="checkbox"]:checked + img {
    border: 2px solid blue; /* Highlight the clicked image with a blue border */
}
  /* Style for image containers */
  .image-container {
        border-radius: 4px;
  }

  /* Style for select elements and textareas */
select,
textarea,
input[type="text"],

button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;

    border-radius: 4px;
    box-sizing: border-box;

  }

button {
       background-color: #25D366;
    color: #fff;
  cursor: pointer;
  }
  

/* end of Style for select elements and textareas */
  
  
  .main-nav .logo {
    font-size: 2.4em; /* Adjust the font size as needed */
    color: #000000;
  }

.like {

    margin-top: 20px;
    
}
.container3 {
  max-width: 1000px;
  width: 100%;
  margin: 1px auto;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  
}

.product {
  width: 47%;
  margin-bottom: 85px;
  border: 1px solid #FBEFEF;
  border-radius: 7px;
  margin-top: -30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h2 {
  margin-top: 0px;
  font-size: 1.2em;
  color: #333;
  text-align: left;
}

.product p {
  
  font-size: 15px;
  text-align: left;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
}

.price {
  color: #333;
  font-weight: bold;
}

.shipping {
  color: #2ecc71; /* Green color for free shipping */
}


.products {
  display: flex;
  animation: scroll 10s linear infinite;
}


.price-container {
  margin-top: -30px;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
   100% {
    transform: translateX(-800px);
  }
}

.product.active {
  background-color: #EDEEFF;
}


.fab {
    margin-right: 10px;
    text-decoration: none; /* Remove underline from the icon */
}

.whatsapp-icon span {
    text-decoration: none; /* Remove underline from the text */
}
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 0) {
    .ads {
        text-align: left;
        margin-right: 80px; /* Move the element 10px to the left */
    }
}
   
.share-icon {
    
   margin-left: 250px; /* Adjust the left distance as needed */
    top: 100px; /* Adjust the top distance as needed */
    z-index: 10;
}
.item {
  z-index: 1000;
}